@import "./css/reset.css";
.ticket {
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin: 100px auto;
    }
    
    .barcode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30px;
    background-color: #000;
    }
    
    .overlay {
    position: absolute;
    top: var(--x);
    left: var(--y);
    width: 50px;
    height: 50px;
    background-image: url(./img/21_Russian_Railways2.png);
    border-radius: 50%;
    display: none;
    }
    